/* line 3, ../sass/vex-theme-air.sass */
.vex-content {
  -webkit-box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.2), 0 9px #cccccc;
  -moz-box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.2), 0 9px #cccccc;
  box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.2), 0 9px #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #444444;
}
/* line 8, ../sass/vex-theme-air.sass */
.vex-content h1 {
  color: #3a87ad;
}

/* line 13, ../sass/vex-theme-air.sass */
.vex-close:before {
  color: #cccccc;
}
/* line 16, ../sass/vex-theme-air.sass */
.vex-close:hover:before {
  background: transparent;
  color: #3a87ad;
}

/* line 20, ../sass/vex-theme-air.sass */
.vex-loading-spinner {
  border-color: rgba(58, 135, 173, 0.15);
  border-top-color: rgba(58, 135, 173, 0.8);
}
