/* line 4, ../sass/vex.dialog.sass */
.vex-dialog-form {
  padding: 1em;
}
/* line 7, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-prompt-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0.25em 0.5em;
  border: 3px solid #cccccc;
  margin-top: 1em;
  min-height: 2.5em;
}
/* line 15, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-prompt-input:focus {
  outline: none;
  border-left-color: #aaaaaa;
}
/* line 19, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-buttons {
  *zoom: 1;
  padding-top: 1em;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.vex-dialog-form .vex-dialog-buttons:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-buttons .vex-dialog-button {
  border: 0;
  float: right;
  padding: 0.5em 1em;
  margin-left: 1em;
}
/* line 29, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-buttons .vex-dialog-button.vex-last {
  margin-left: 0;
}
/* line 32, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-buttons .vex-dialog-button:focus {
  outline: none;
}
/* line 35, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-buttons .vex-dialog-button.vex-dialog-button-primary {
  background: #3288e6;
  color: white;
}
/* line 39, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-buttons .vex-dialog-button.vex-dialog-button-primary:focus {
  -webkit-box-shadow: inset 3px 0 #1b5da5;
  -moz-box-shadow: inset 3px 0 #1b5da5;
  box-shadow: inset 3px 0 #1b5da5;
}
/* line 42, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-buttons .vex-dialog-button.vex-dialog-button-secondary {
  background: #eeeeee;
  color: #888888;
}
/* line 46, ../sass/vex.dialog.sass */
.vex-dialog-form .vex-dialog-buttons .vex-dialog-button.vex-dialog-button-secondary:focus {
  -webkit-box-shadow: inset 3px 0 #aaaaaa;
  -moz-box-shadow: inset 3px 0 #aaaaaa;
  box-shadow: inset 3px 0 #aaaaaa;
}
