// copied from Compass (https://github.com/Compass/compass) on the 21st of January 2015:

$prefix-context: null
$current-prefix: null
$critical-usage-threshold: 0.01 !default
$default-has-layout-approach: zoom !default
$has-layout-support-threshold: $critical-usage-threshold !default

=has-layout($approach: $default-has-layout-approach)
    @if support-legacy-browser("ie", "7", $threshold: $has-layout-support-threshold)
        @if $approach == zoom
            +has-layout-zoom
        @else if $approach == block
            +has-layout-block
        @else
            @warn "Unknown has-layout approach: #{$approach}"
            +has-layout-zoom

=has-layout-zoom
    @if support-legacy-browser("ie", "7", $threshold: $has-layout-support-threshold)
        *zoom: 1

=pie-clearfix
    &:after
        content: ""
        display: table
        clear: both
    +has-layout

// full mixin: https://github.com/Compass/compass/blob/stable/core/stylesheets/compass/_support.scss
@function support-legacy-browser($browser, $min-version, $max-version: null, $threshold: $critical-usage-threshold)
    @return true
