@import compass/css3

@import mixins
@import animations

+add-animation-vex-fadein
+add-animation-vex-fadeout
+add-animation-vex-flyin
+add-animation-vex-flyout
+add-animation-vex-rotation

$vexAnimationDuration: 0.5s
$vexRoundness: 5px

.vex-overlay
    +vex-animation(vex-fadein $vexAnimationDuration)
    position: fixed
    padding-top: 0
    padding-bottom: 0
    overflow: auto
    z-index: 1111
    background: rgba(0, 0, 0, 0.4)
    top: 0
    right: 0
    bottom: 0
    left: 0

    &.vex-closing
        +vex-animation(vex-fadeout $vexAnimationDuration)

        .vex-content
            +vex-animation(vex-flyout $vexAnimationDuration)

.vex-content
    +vex-animation(vex-flyin $vexAnimationDuration)
    position: fixed
    top: 0
    z-index: 1111
    background: #fff

    h1, h2, h3, h4, h5, h6, p, ul, li
        color: inherit

    &.vex-content-auto
        position: relative
        margin: 0 auto
        max-width: 100%

    &.vex-content-fullscreen
        +box-shadow(0)
        top: 0
        right: 0
        bottom: 0
        left: 0

    &.vex-content-tall
        top: 60px
        bottom: 60px
        left: 50%
        width: 800px
        margin-left: -400px

    &.vex-content-tall-and-wide
        top: 60px
        right: 60px
        bottom: 60px
        left: 60px

.vex-close
    +border-radius(0 $vexRoundness 0 0)
    position: absolute
    top: 0
    right: 0
    width: 30px
    height: 30px
    height: 30px
    cursor: pointer

    &:before
        +border-radius(3px)
        position: absolute
        content: "\00D7"
        font-size: 26px
        font-weight: bold
        overflow: hidden
        line-height: 12px
        height: 17px
        width: 15px
        text-align: center
        top: 3px
        right: 3px
        padding: 5px
        color: #bbb
        color: rgba(50, 50, 50, 0.2)
        background: transparent

    &:hover:before
        color: #444
        color: rgba(50, 50, 50, 0.4)
        background: #fefefe
        background: rgba(50, 50, 50, 0.15)

    &:active:before
        color: #303030
        color: rgba(50, 50, 50, 0.4)
        background: #fcfcfc
        background: rgba(50, 50, 50, 0.2)

.vex-loading-spinner
    +vex-animation(vex-rotation 0.7s linear infinite)
    +border-radius(100%)
    +box-shadow(0 0 0 10px rgba(255, 255, 255, 0.5))
    position: fixed
    z-index: 1112
    margin: auto
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: 60px
    width: 60px
    border: 6px solid rgba(0, 0, 0, .15)
    border-top: 6px solid rgba(0, 0, 0, .4)
    background: rgba(255, 255, 255, 0.5)